<div class="row">
  <h2>Añadir Artista al catalogo local</h2>

  <%= form_for(:artista, :html => {:id => "artista_nuevo", :class => "form-horizontal"},:url => {:action => 'create'}) do |f| %>

    <div class="form-group">
      <label for="nombre" class="col-sm-2 control-label">Artista</label>
      <div class="col-sm-10">
         <%= f.text_field(:nombre, class: "form-control") %>
      </div>
    </div> 

    <div class="form-group">
      <label for="popularidad" class="col-sm-2 control-label">Popularidad</label>
      <div class="col-sm-10">
          <%= f.text_field(:popularidad, class: "form-control") %>
      </div>
    </div> 

    <div class="form-group">
      <label for="uri" class="col-sm-2 control-label">URI</label>
      <div class="col-sm-10">
          <%= f.text_field(:uri, class: "form-control") %>
      </div>
    </div> 

    
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
          <%= submit_tag("Añadir Artista", class: "btn btn-default btn-sm") %>
      </div>
    </div>

  <% end %>
</div>

